1. Always use pnpm as package manager;
2. Product name is Ticos Realtime API, company name is Tiwater;
3. When need extra UI components, use shadcn-ui with command: `pnpm dlx shadcn@latest add <component-name> --overwrite`;